/* =============
    Heroes
============= */

#hero {
  background-image: url("../img/hero/hero_bg.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  justify-content: center;
  @include xl {
    height: 100vh;
  }

  img{
    height: 82px;
  }

  h1 {
    display: flex;
  align-items: center;
    font-weight: 300;
    font-size: rem-calc(24);
    color: $white;
    @include md {
      font-size: rem-calc(42);
    }
    @include xl {
      font-size: rem-calc(42);
    }
  }

  button {
    background-color: Transparent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    font-size: 16px;
  }
}
