/* =============
    Included
============= */

#included {
  background-image: url("../img/included/included_bg.jpg");
  background-size: 400% 140%;
  background-position: center top;
  height: 100vh;
  background-repeat: no-repeat;
  color: $white;
  text-align: center;
  padding: 30px 36px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-areas:
  "..."
  "text"
  "...";
  @include xl {
    height: 100vh;
    background-size: cover;
    background-position: center bottom;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ". text .";
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
  };
  img:nth-child(1){
    display: none;
    @include xl {
      display: unset;
    }
  };
  img:nth-child(3){
    display: none;
    @include xl {
      display: unset;
    }
  };

  div {
    grid-area: text;
    display: grid;
    @include xl{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr) 5fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
    h2{
      display: grid;
      align-content: flex-end;
      padding-bottom: 10px
    };
    ul {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns:1fr;
      grid-column-gap: 0;
      grid-row-gap: 0;
      @include xl{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
      }
    }
  };
}
