/* =============
    Intro
============= */

#intro {
  padding: 30px 36px;
  text-align: center;
  @include md {
    padding: 0 80px;
  }
  @include xl {
    padding: 0 144px;
  }

  section {
    position: relative;
    font-weight: 300;
    padding-bottom: 20px;
    @include xl {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-areas: ". text .";
      grid-template-rows: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 0;
      height: 300px;
    };

    img {
      display: none;
      @include xl {
        display: unset;
      }
    };

    div {
      grid-area: text;
      align-self: center;
      padding: 0 5px;
      @include xl {
        padding: 0 100px;
      };

      p {
        font-size: rem-calc(16);
        padding-bottom: 20px;
        @include xl {
          font-size: rem-calc(22);
        };
      }

      h5 {
        font-weight: 300;
        font-style: italic;
        color: rgba(0,0,0,0.4);
        font-size: rem-calc(10);
        @include xl {
          font-size: rem-calc(12);
        };
      }
    }
  }

  aside {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "frames_left tv frames_right";
    justify-content: center;
    align-content: center;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;

    img:nth-child(2) {
      height: 240px;
      grid-area: tv;
      @include xl {
        height: 481px;
      }
    };

    img:first-child {
      display: none;
      @include xl {
        display: unset;
      }
    };

    img:last-child {
      display: none;
      @include xl {
        display: unset;
      }
    };
  }
}
