/* =============
    Footer
============= */
footer{

    background-color: black;
    height: 85px;
    padding: 20px 36px 0px 36px;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    div{
      color: $white;
      h4{
        align-self: center;
        font-weight: 300;
        font-size: rem-calc(10);
      }
      img{
        align-self: center;
      }
    }
    nav{
      justify-self: flex-end;
      align-self: center;
      img{
        padding-left: 10px;
      }
    }
    @include md{
        padding: 0px 80px;
    }
    @include xl{
        padding: 0px 144px;
    }

}
